<html>
    <head>
        {% if title %}
        <title>{{ title }} - Microblog</title>
        {% else %}
        <title>Welcome to Microblog</title>
        {% endif %}
    </head>
    <body>
        <div>Microblog: 
            <a href="{{ url_for('index') }}">Home</a>
            <a href="{{ url_for('login') }}">Login</a>
            <!-- We use the above format because it turns our URL into a function (abstraction) -->
            <!-- <a href="/index">Home</a>
            <a href="/login">Login</a> -->
        </div>
        <hr>
        
        {% block content %}{% endblock %}
    </body>
</html>